@media screen and (max-width: 1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display: flex;
    }
    
}
@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
      height: auto;
    }

    
    section,
    .section-container {
      height: auto;
    }
    section {
      margin: 0 5%;
    }
    .section_pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .title{
      margin-top: 50px;
    }
    #experience{
      height: auto;
    }
    .project-title{
      margin-top: 50px;
    }
    #project{
      margin-top: auto;
    }
    .projects-flex{
      display: flexbox;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      grid-row: auto;
      
    }

    .experience-flex{
      display: flexbox;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      grid-row: auto;
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
      
    }
    .form{
      width: 500px;
      height: 400px;
    }
    .contact-title{
      margin-top: 50px;
      padding: 0;
    }
    #contact{
      padding-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    
    #contact,
    footer {
      margin-top: 100px;
      height: auto;
      
    }
    #profile {
      margin-bottom: 0px;
      height: 100px;
      
    }
    #about{
      margin-top: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      
    }
    .card{
      align-items: center;
      width: 400px;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    #experience{
      height: auto;
    }
    .name{
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section_pic-container {
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
      height: 46vw;
      justify-content: center;
    }
    .section_text_p1{
      margin-top: 50px;
      
    }
    .section_text_p2 {
      font-size: 1.25rem;
    }
    .title {
      margin-top: auto;
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .experience-card1,
    .experience-card2{
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
    .experience-card2{
      height: auto;
    }
    .title,
    .experience-title,
    .skills-title,
    .contact-title,
    .name{
      text-align: center;
    }
    .project-title{
      text-align: center;
      
    }
  
    .contact-content{
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .form{
      width: 300px;
      height: 300px;
    }
    .project-card{
      width: 350px;
    }
    .project-img2,
    .project-img1{
      width: 200px;
      margin-left: 75px;
    }
    #skills{
      
      margin-bottom: 50px;
    }
    .skills-card{
      width: 400px;
      height: 400px;

    }
    #contact{
      margin-top: 200px;
      margin-bottom: 100px;
    }
    #about{
      margin-top: 250px;
    }
    .name{
      text-align: center;
      
      padding-left: 100px;
      
    }
    #contact{
      height: auto;
    }
    .projects{
      margin-top: 50px;
    }
    #nav-{
      display: flex;
      
    }
    .list{
      font-size: 1rem;
    }
    .experience-card1,
    .experience-card2{
      display: inline-block;
      float: none;
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
    .card{
      width: 300px;
    }
    .experience-card1,
    .experience-card2{
      width: 350px;
    }
    .trademark{
      margin-bottom: 5px;
      margin-top: 10px;
    }

}




