

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
}
/*.container {
    width: 100%;
    height: 100%;
  
    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}
*/
body{
    font-family: "Raleway", sans-serif;
    color: white;

}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(118, 105, 105);
}

a, 
.btn{
    transition: all 300ms ease;
}

nav,
.list{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.list{
    gap: 2rem;
    list-style:  none;
    font-size: 1.5rem;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(248, 190, 0);
    text-decoration: wavy;
    text-underline-offset: 1rem;
    
}
.name{
    font-size: 3rem;
}
.name:hover{
    cursor: default;
    color: rgb(248, 190, 0);
    text-decoration:wavy;
    text-underline-offset: 1rem;
}

/* hamburger menu */

#hamburger-nav{
    display: none;
}
.hamburger-menu{
    display: inline-block;
    position: relative;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3ms ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right:0;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3ms ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1 rem;
    color: white;
    transition: all 0.3ms ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
  
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
  
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
  
.hamburger-icon span:first-child {
    transform: none;
}
  
.hamburger-icon span:first-child {
    opacity: 1;
}
  
.hamburger-icon span:first-child {
    transform: none;
}

/*sec*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.section_text {
    align-self: center;
    text-align: center;
}
  
.section_text p {
    font-weight: 600;
}
  
.section_text_p1 {
    text-align: center;
}
  
.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
  
.title {
    font-size: 3rem;
    text-align: center;
    
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    
}
.icon {
    cursor: pointer;
    height: 2rem;
}
/*Buttons*/
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
  
.btn-color-1,
.btn-color-2 {
    border: rgb(248, 190, 0) 0.1rem solid;
}
  
.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}
  
.btn-color-1:hover,
.btn-color-2:hover {
    background: rgb(248, 190, 0);
    color: black;
}
  
.btn-color-1:hover {
    background: rgb(248, 190, 0);
}
  
.btn-color-2 {
    background: none;
}
  
.btn-color-2:hover {
    border: rgb(248, 190, 0) 0.1rem solid;
}
  
.btn-container {
    gap: 1rem;
}

/*About*/


/*.aboutme-list{
    padding: 1.5rem;
    flex: 1;
    background: black;
    width: 400px;
    height: 500px;
    border: rgb(248, 190, 0) 0.1rem groove;
    border-color: rgb(248, 190, 0);
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
}*/
.card {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 500px;
    height: 500px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}
   
.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}
   
.card-info {
    --color: black;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    
}
   
.card .title {
    font-weight: bold;
    letter-spacing: .1em;
}
.aboutme-card{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.aboutme-list{
    list-style: none;
    gap:2rem;
    
    
}
.aboutme-text{
    padding:20px;
}
.aboutme-list{
    list-style: none;
    

}
.b{
    padding-top: 10px;
    padding-bottom: 10px;
}
.b1{
    padding-bottom: 10px;
    padding-top: 0px;
}

/*Experience*/

.experience-card1 {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    border-radius: 30px;
    background: black;
    box-shadow: 15px 15px 30px rgb(248, 190, 0),
               -15px -15px 30px rgb(248, 190, 0);
    float: left;
    margin-bottom: 40px;
    
   
}

.experience-card2 {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    border-radius: 30px;
    background: black;
    box-shadow: 15px 15px 30px rgb(248, 190, 0),
               -15px -15px 30px rgb(248, 190, 0);
    
    margin-bottom: 40px;
    float: right;
    
}





.experience-card1-title,
.experience-card2-title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}
.experience-title{
    font-size: 3rem;
    text-align: center;
}
.rmk{
    margin-top: 75px;
    padding-left: 20px;
    font-size:1rem;
    float: left;
}
.year_rmk{
    margin-top: 100px;
    padding-right: 20px;
    float: right;
}
.grade-rmk{
    text-align: center;
}

.velammal{
    margin-top: 100px;
    padding-left: 20px;
    font-size:1rem;
    float: left;
}
.year_velammal{
    margin-top: 100px;
    padding-right: 20px;
    float: right;
}
.grade-velammal{
    text-align: center;
}

.sboa{
    margin-top: 100px;
    padding-left: 15px;
    font-size:1rem;
    float: left;
}
.year_sboa{
    margin-top: 100px;
    padding-right: 15px;
    float: right;
}
.grade-sboa{
    text-align: center;

}

.velammal-course,
.sboa-course{
    text-align: center;
}
.accompalishment-content{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;


}
.accompalishment-content-list{
    list-style: none;
    line-height: 2;
    
}
.list-text{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.list-text-1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    
}
.accompalishment-list{
    list-style: none;
}

/*Projects*/
.projects-flex{
    
    display:flexbox;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-row: auto;
}

#projects{
    height: auto;
}
.project-title{
    padding-top: 75px;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}

.project-card {
    padding: 20px;
    width: 400px;
    min-height: 500px;
    border-radius: 20px;
    background: black;
    box-shadow: 5px 5px 8px rgb(248, 190, 0),
                -5px -5px 8px rgb(248, 190, 0);
    transition: 0.4s;
}
  
.project-card:hover {
    translate: 0 -10px;
}
  
.project-card-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(248, 190, 0);
    margin: 15px 0 0 10px;
    margin-top: 5px;
}
  
.project-card-image {
    
    background-color: black;
    border-radius: 15px;
    background: black;
    box-shadow: inset 5px 5px 3px black,
              inset -5px -5px 3px black;
}
.project-img1{
    border-radius: 15px;
}  
.project-card-body {
    margin: 13px 0 0 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    
}
  
.footer {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: white;
    margin-top: 10px;

}
  
.by-name {
    font-weight: 700;
}
.project-1,
.project-2,
.project-3{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.project-4{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
/*Project buttons*/
.btn-project {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 7rem;
    border-radius: 2rem;
    
}
  
.btn-project-1 {
    border: rgb(248, 190, 0) 0.1rem solid;
    
}
  
.btn-project-1:hover {
    cursor: pointer;
    background: rgb(248, 190, 0);
    color: black;
}

.project-button{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


/*Skills Section*/

.skills-card {
    width: 700px;
    height: 400px;
    background: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(248, 190, 0);
    border-radius: 15px;
    box-shadow: -20px 20px 0px -5px rgb(248, 190, 0);
    
}
  
.skills-card-title {
    font-weight: 900;
    font-size: 1.7em;
}
  
.tag__name {
    display:inline-block;
    color: white;
    font-size: 1.1em;
    background-color: rgb(183, 140, 0);
    padding: 6px 23px 9px;
    border-radius: 70em;
    margin: 8px 6px 8px 0;
    margin-left: 0px;
    position: relative;
    text-transform: lowercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: bold;
}
  
.tag__name::before,.tag__name::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    
}
  
.tag__name::before {
    left: 7px;
}
  
.tag__name::after {
    right: 7px;
}
  
.tag__name:hover {
    transform: scale(1.1);
    background-color: rgb(248, 190, 0);
    cursor: pointer;
}

.skills-title{
    
    font-size: 3rem;
    text-align: center;
    
}
.skills-content{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/*contact*/

.contact-title{
    
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    
    
}
.contact-content{
    padding:50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

}
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    height: 400px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgb(248, 190, 0);
}
  
  
  
.form input {
    outline: 0;
    border: 1px solid rgb(248, 190, 0);
    background-color: rgb(183, 140, 0);
    padding: 8px 14px;
    margin-top: 25PX;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    color:black;
}
  
.form textarea {
    border-radius: 8px;
    background-color: rgb(183, 140, 0);
    margin-top: 25px;
    height: 150px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(248, 190, 0);
    color:black;
}
  
.form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(183, 140, 0);
    color: black;
    cursor: pointer;
}
::placeholder{
    color: black;
    opacity: 0.5;;
}
.contact-form{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
/*Footer*/

footer {
    height: 26vh;
    margin: 0 1rem;
}
  
footer p {
    text-align: center;
    color: white;
}
