@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  background: #0a0a0a;
}

::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(57, 255, 20, 0.1);
  border-radius: 10px;
  border: 2px solid #0a0a0a;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 255, 20, 0.2);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(57, 255, 20, 0.1) #0a0a0a;
}

/* Custom Scrollbar for Project Modal and Terminal */
.modal-scroll::-webkit-scrollbar,
.terminal-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll::-webkit-scrollbar-thumb,
.terminal-scroll::-webkit-scrollbar-thumb {
  background: rgba(57, 255, 20, 0.15);
  border: 1px solid #1E1E1E;
}

.modal-scroll::-webkit-scrollbar-track,
.terminal-scroll::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.1);
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
